<div class="modal" id="ModalSpinner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center"><i class="fa fa-spin fa-spinner"></i> Cargando...</h2>
            </div>
        </div>
    </div>
</div>